*{
    transform: 0.9s all;
    width: 100;
}

.class1{
    color:rgb(168, 28, 28);
    border: 2px solid rgb(47, 47, 167);
    background-color: aqua;
    margin: 20px;
    border-radius: 10px 100px;
    font-size: xx-large;
    text-align: center;
    }
    .class1 :hover,.class1:focus {
        /* background-color: rgb(84, 68, 156);  */
         border-radius: 20px 100px;
         /* padding: 20px; */
    }
    a{
        color: rgb(167, 131, 13);
        /* display: flex; */
        display:inline- block;
        text-decoration: none;
        margin: 10px;
        border-radius: 20px 10px;
        padding: 20px;
        
    font-size: xx-large;
    }
 a:hover,a:focus{
        background-color: rgb(255, 255, 255);
        color: black;
        transition: 0.5s;
        transform: scale(1,2);


        

    }
    /* .none{ */
        /* float: left; */
        /* background-color: rgb(48, 211, 26); */
    /* } */

        .class2
        {
            /* border: 0px; */
            text-align: center;
            font-size: xx-large;
                        

        
        }
        .class3:hover{
            background-color: rgb(22, 20, 20);
            text-align-color: rgb(201, 121, 18);
            color: cornsilk;

        }
        .class3{
       color: royalblue;
       float: left;
       border-radius: 20px;
        background-color: darkgoldenrod;
        inline-size: 40px;
        tab-size: 30em;
        padding-inline: center;
        margin: 0px;
        margin-right: 10px;
        width: 150px;
        font-size: xx-large;
        bottom: 0px;
    border-radius: 0px:

        }
        button:hover,button:focus{
            background-color: darkorange;
            color: rgb(3, 3, 3);

        }
        img:hover,img:focus{
            /* background-color: violet; */
            transform: scale(1.2);
            transition: 0.5s;
            

        }
        img{
            transition: 0.5s;

        }

        button{
            padding: 10px 15px;
            margin: 20px;
            background-color: brown;
            color: wheat;
            border-radius: 15px;
            border-bottom-color: aquamarine;
            border: 2px solid rgb(116, 106, 106);
        }
        h1{
            color: aquamarine;
            background-color: rgb(0, 0, 0);
            position: relative;
            bottom: 50px;
            border-radius: 100px 20px;
    
        
            }
            
        h1:hover,h1:focus{
            background-color: rgb(141, 121, 121);
            color: rgb(173, 0, 0);
            
        }
       
        footer{
            color: rgb(185, 212, 31);
            background-color: dimgray;
            text-align: center;
            font-size: xx-large;
            border-radius: 30px;
       margin-left: auto 70px;
        }
        